/* Write your CSS here */
.match-card-container {
  background-color: #0f172a;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px 0;
  list-style: none;
  color: white;
  width: 180px;
}
.match-card-container > img {
  width: 120px;
}
.match-card-container > p {
  padding: 30px 0;
}
.won {
  color: #18ed66;
}
.lose {
  color: #e31a1a;
}

@media screen and (min-width: 550px) {
  .match-card-container {
    width: 250px;
  }
}
