/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-family: 'Bree Serif';
  color: white;
}
.main-heading > img {
  width: 40px;
  margin-right: 10px;
}
.team-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
  }
}
